<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>Form Page</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>This is the Shiba Form</h1>
        <h2>Please fulfill the form!</h2>
      </div>

      <form method="post">
        {{forms.as_p}}
        {% csrf_token %}
        <input type="submit" name="" class='btn btn-primary' value="Submit">
      </form>
    </div>
  </body>
</html>
