<!DOCTYPE html>
{% extends "main_app/base.html" %}
{% load static %}
{% block title %}Form Page{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static '/css/mystyle.css' %}"/>
{% endblock %}
{% block body_block %}
      <div class="jumbotron">
        <h1>This is the Shiba Form</h1>
        <h2>Please fulfill the form!</h2>
      </div>

      <form method="post">
        {{forms.as_p}}
        {% csrf_token %}
        <input type="submit" name="" class='btn' value="Submit">
      </form>
    </div>
{% endblock %}
