h1, h2{
  text-align: center;
}

.jumbotron{
  padding-top: 10px;
  padding-bottom: 10px;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.icon{
  width: 50px;
  height: 50px;
}

.container{
  margin-top: 100px;
}

.navbar{
  background-color: #F6711A;
}

input.btn{
  background-color: #F6711A;
  color: white;
}
